// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-topaz: #7d7987;
$color-heather: #b8becd;
$color-ebony-clay: #202336;
$color-tree-poppy: #fb8f1d;
$color-bombay: #afb0b9;
$color-tiber: #042521;
$color-gunsmoke: #80918e;
