.promo__container {
  position: relative;
  padding-top: 27px;
  padding-bottom: 47px;
  display: flex;
  background-image: url("../../img/");
}

.promo__content {
  width: 470px;
  flex-shrink: 0;
  z-index: 3;
}

.promo__img {
  position: absolute;
  top: 33px;
  left: 632px;
  z-index: 2;
  width: 687px;
  height: 654px;
}

.promo__title {
  margin: 0;
  margin-bottom: 74px;
  padding-top: 40px;
  max-width: 356px;
  font-family: "Playfair", "Arial", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: $color-ebony-clay;
}
